body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

/* H2G2 inspired theme */

body {
  background: yellow;
}

.menu.item {
  height: 4ex;
  border-top-right-radius: 2ex;
  border-bottom-right-radius: 2ex;
  transition: width 500ms;
}

.menu.item:nth-child(5n+0) {
  background: purple;
}

.menu.item:nth-child(5n+1) {
  background: blue;
}
.menu.item:nth-child(5n+2) {
  background: green;
}

.menu.item:nth-child(5n+3) {
  background: orange;
}
.menu.item:nth-child(5n+4) {
  background: red;
}

.menu.item.closed {
  width: 30%;
}

.menu.item.closed:hover {
  width: 32%;
}

.menu.item.closed > * {
  display: none;
}

.menu.item.closed > h2 {
  display: block;
}

.menu.item.closed > h2, .menu.item.open > h2 {
  height: 100%;
  color: white;
  text-align: right;
  padding-right: 2ex;
  position:relative;
  top: 50%;
  transform: translateY(-42%);
}

.menu.item.open {
  width: 100%;
}

.menu.item.open > * {
  display: block;
  width: 65%;
  position: relative;
  left: 33%;
}
